@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	color: #333;
    font-family: "Open Sans", Helvetica;
    font-size: 14px;
    word-wrap: break-word;
		background: rgba(82, 165, 113, 0.3);
	}
	h2{
	  font-size: 20px;
	}
	.container{
	max-width: 1200px;
display: block;
margin: 0 auto;
overflow: hidden;
	}
.block{
	display: inline-block;
	width: 30%;
	text-align: center;
	border: 2px solid #faa95a;
	margin: 4% 1% 0;
  vertical-align: text-top;
	min-height: 480px;
  box-sizing: border-box;
			-background: rgba(250, 169, 90, 0.3);
		-background: rgba(82, 165, 113, 0.3);
	background: #fff;
}
.text{
	padding: 0 7px;
}
img, iframe {
    width: 100%;
    height: auto;
    display: inline-block;
}
 iframe {
  border: none;
 }
.button{
	display: inline-block;
	background-color: #faa95a;
	padding: 5px 10px;
	color: #FFF;
	text-decoration: none;
	margin-bottom: 20px;
}
.button:hover{
	 	background: #f8c797;
}
