@import url('https://fonts.googleapis.com/css?family=Open+Sans');
	.block_gurt h2{
	  font-size: 20px;
		padding: 5px 3px;
	}
	.container_gurt{
	max-width: 1030px;
display: block;
margin: 0 auto;
overflow: hidden;
color: #333;
	font-family: "Open Sans", Helvetica;
	word-wrap: break-word;
	text-align: center;
	}
.block_gurt{
	display: inline-block;
	width: 30%;
	text-align: center;
	margin: 4% 1% 0;
  vertical-align: text-top;
  box-sizing: border-box;
		background: rgba(82, 165, 113, 0.3);
	border: 12px solid #faa95a;
	 border-radius: 50px;
}
.block_gurt h2{
	margin: 5px;
}
.text_gurt{
	position: relative;
overflow: hidden;
padding-bottom: 42px;
}
.text_gurt p{
	margin: 0;
	padding: 7px;
	  background: #fff;
	font-size: 13px;
}
.fold{
	display: none;
}
.text_gurt p.bg_color{
background: inherit; border:none;
}
.block_gurt img, .block_gurt iframe {
    width: 100%;
    height: auto;
    display: inline-block;
}
 iframe {
  border: none;
 }
.block_gurt .button_gurt{
	display: inline-block;
	background-color: #faa95a;
	color: #FFF;
	text-decoration: none;
	margin: 10px;
	width: 110px;
	height: 40px;
	line-height: 20px;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	cursor: pointer;
	border: none;
	box-sizing: border-box;
}
.block_gurt .button_gurt:hover{
	 	background: #f8c797;
		color: #fff !important;
}
.toggle_menu{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
}
.nav-toggle{
	display: inline-block;
	padding: 10px 0;
}
.nav-toggle i{
	font-size: 20px;
	color: #faa95a;
}
.nav-toggle i.open{
	transform: rotateX(180deg);
}
@media only screen and (max-width: 960px){
	.block_gurt{
		width: 47%;
}
}
@media only screen and (max-width: 600px){
	.block_gurt{
		width: 100%;
			margin: 20px 0;
}
}
@media only screen and (max-width: 1060px) and (min-width: 961px){
.block_gurt .button_gurt{
	    width: 99px;
			font-size: 13px;
}
}
@media only screen and (max-width: 690px) and (min-width: 601px){
.block_gurt .button_gurt{
	    width: 95px;
			font-size: 13px;
			margin: 10px 5px 15px;
}
}
