.headline{
    text-transform:uppercase;
    text-align: center;
    font-family: Actor,  sans-serif;
    font-weight: 600;
    font-size:170%;
    color:#2F4F4F;
    padding-bottom: 40px;
}
.offers{
    width: 900px;
    margin:20px auto;
}
.ads{
    display: inline-block;
    width:295px;
    border-radius:7px;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color:#fff;
}
div.best_value{
    border:4px solid #EE8129;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
div.standart,div.ultimate{
    border:1px solid #EAECEE;
    position: relative;
    z-index: -1;
}
div.standart{
    left:10px;
}
div.ultimate{
    right:10px;
}
header{
    text-transform:uppercase;
    text-align:center;
    color:#fff;
    font-weight:bold;
    font-size:150%;
}
header.standart{
    padding:17px 0;
    background-color:#37C2D3;
    border-top-left-radius:7px;
}
header.best_value{
    padding:20px 0;
    background-color:#EE8129;
}
header.ultimate{
    padding:17px 0;
    background-color:#1CB79A;
    border-top-right-radius:7px;
}
.offer{
    text-transform:uppercase;
    text-align:center;
    font-size:140%;
    color:#2F4F4F;
    font-stretch: ultra-condensed;
}
.price{
    text-align:center;
    font-size:400%;
    font-weight:bold;
    margin:-8px 0;
    color:#2F4F4F;
}
.price:before{
    content:'$';
    vertical-align:top;
    font-size:0.3em;
    font-weight:400;
}
.period{
    vertical-align:sub;
    font-size:0.3em;
    font-weight:normal;
}
li:nth-child(2n+1){
    background-color:#EDF5FD;
}
li:nth-child(2n){
    background-color:#F5F5F6;
}
.ads ul{
    margin:30px 0 0 -25px;
}
.ads li{
    width:200px;
    padding: 7px 0 7px 60px;
    color: #888C94;
    font-size: 90%;
    list-style:none;
    background-image: url(images/bul.png);
    background-repeat: no-repeat;
    background-position: 30px, 4px;
    margin-bottom: 1px;
    letter-spacing: 1px;
}
button{
    width:252px;
    height:45px;
    border-radius:7px;
    text-transform:uppercase;
    color:#fff;
    font-weight:bold;
    font-size:90%;
    box-sizing: border-box;
}
button.standart,
button.ultimate{
    background-color:#3371A6 ;
    margin: 15px 17px 20px;
    border:1px solid #4682B4;
    border-bottom: 3px solid #16436A;
}
button.best_value{
    background-color:#EE8129;
    margin: 15px 17px 30px;
    border:1px solid #EE8129;
    border-bottom: 3px solid #B3560B;
}