@media screen and (max-width: 980px){
    .container{
        width: 95%;
    }

    .col_left{
        position:relative ;
        width: 100%;
    }

    .col_right{
        float: left;
        width: 100%;
        margin: 50px 0;
    }

    .big_picture{
        display: none !important;
    }

    .menu_wrapper{
        height: 85px;
    }

    .menu_wrapper.open{
        height: 410px;
    }

    .menu li {
        height: 65px;
    }

    .toggle_menu{
        height: 85px;
    }

    .nav-toggle span{
        top:40px;
    }

}

@media screen and (max-width: 650px){
    .container{
        width: 100%;
    }

    .wrapper_image{
        margin: 15px 0;
    }

    .parts_menu2 label,
    .parts_menu3 label{
        width: 100%;
        max-width: 800px;
        margin-bottom: 25px;
    }
    .slider__images{
        border: 2px solid #0e1abd;
    }
    .slider__navigation{
        width: 270px;
    }

}

@media screen and (max-height: 530px){
    .col_left {
        position: relative;
    }
}
