.col_right{
    position: relative;
    max-width: 1000px;
    width: 65%;
    float: right;
    margin-left: 50px;
}

.menu_item{
    position: absolute;
    width: 100%;
    display: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

/*menu_1*/
.menu1_description{
    font-family: "CafeParisC";
    font-size: 2.6em;
    line-height: 1;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.menu1_description h2{
    margin: 0;
    color: #4204b2;
}
.menu1_description p{
    margin: 0;
}

.menu1_about_me_photo{
    position: relative;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.menu1_about_me_photo_wrap{
    position: relative;
    border: 10px solid #fff;
    border-radius: 10px;
    background-color: #fff;
    max-width: 400px;
    max-height: 600px;
    box-sizing: border-box;
}

.menu1_about_me_photo_wrap img{
    vertical-align: middle;
}

.switch_photo{
    position: absolute;
    top:0;
    bottom: 0;
    width: 50%;
}

.switch_photo.next_photo{
    right: 0;
}

.switch_photo.prev_photo{
    left: 0;
}

.switch_photo:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    background: url("../img/arrows.png") no-repeat;
    width: 32px;
    height: 49px;
}

.next_photo:hover::before  {
    right: 5%;
    background-position:-32px 0;
}

.prev_photo:hover::before{
    left: 5%;
    background-position:0 0;
}


/*menu_2 menu_3*/

.parts_menu2, .parts_menu3{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.parts_menu2 input[type=radio],
.parts_menu3 input[type=radio]{
    display: none;
}

.parts_menu2 label,
.parts_menu3 label{
    font-family: "CafeParisC";
    display: inline-block;
    text-transform: uppercase;
    max-width: 330px;
    width: 30%;
    height: 110px;
    margin: 1.25%;
    padding-top: 40px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #fff;
    box-sizing: border-box;
    color: #4204b2;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.parts_menu2 label{
     max-width: 330px;
     width: 22%;
 }
.parts_menu2 [id^="menu2_part"]:checked+label,
.parts_menu3 [id^="menu3_part"]:checked+label{
    background-color: #4204b2;
    color: #fff;
}

.menu2_part_description,
.menu3_part_description{
    margin: 50px auto;
    display: none;
    text-align: center;
}

#menu2_part1:checked ~ .song,
#menu2_part2:checked ~ .dance,
#menu2_part3:checked ~ .draw,
#menu2_part4:checked ~ .swim,
#menu3_part1:checked ~ .travels,
#menu3_part2:checked ~ .family,
#menu3_part3:checked ~ .garden{
    display: block;
}


/*.menu _2*/

.menu2_video{
    max-width: 420px;
    margin: 30px auto;
    border: 7px solid #fff;
    box-sizing: border-box;
    border-radius: 5px;
}
iframe{
    width: 100%;
    vertical-align: middle;
}

.picture_wrap{
    position: relative;
    max-width: 610px;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 10px;
    background-color: #fff;
}

.picture_wrap img{
    vertical-align: middle;
    margin: 3px 0;
}

.big_picture{
    position: fixed;
    z-index: 200;
    display: none;
    border: 5px solid #4204b2;
}


/*.menu_3*/

.menu3_part_description{
    position: relative;
}

.menu3_images_box{
    text-align: center;
    margin-top:50px;
}

.wrapper_image{
    position: relative;
    display: inline-block;
    margin:15px;
    border: 5px solid #fff;
    box-sizing: border-box;
}

.wrapper_image img{
    vertical-align:middle ;
}

.menu3_zoom{
    position: absolute;
    left:-5px;
    bottom:-5px;
    top:-5px;
    right: -5px;
    background-color: rgba(66,4,178,0.9 );
    display: none;
}

.menu3_zoom span{
    position: absolute;
    left: 50%;
    top:50%;
    margin-top: -12.5px;
    margin-left:-12.5px;
    color: #fff;
    font-size: 50px;
    font-weight: 200;
}

.wrapper_image:hover .menu3_zoom,
.wrapper_image:hover span{
    display: inline-block;
    cursor: pointer;
    animation: 0.5s anm;
}

@keyframes anm {
from {opacity: 0;}
to {opacity: 1;}
}


.enlarged_images{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66,4,178,0.6);
    padding:0;
    text-align: center;
    z-index: 10;
    display: none;
}

.enlarged_img{
    position: relative;
    margin: 3% auto 0;
    box-sizing: border-box;
    vertical-align: middle;
    display: none;
}

.enlarged_img img{
    border:3px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.close_button {
    position: absolute;
    top:2%;
    right:2%;
    width: 40px;
    height: 40px;
    background: url("../img/close.png") 50% no-repeat scroll;
    cursor: pointer;
    border: none;
    z-index: 10;
}
.close_button:hover{
    background:  url("../img/close1.png") 50% no-repeat scroll;;
}

.send_message{
    font-family: "CafeParisC";
    font-size: 2.8em;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin:0 auto 30px;
    line-height: 1;
    text-align: center;
}
.message textarea{
    resize: both;
    max-width: 900px;
    width: 90%;
}

.submit{
    font-family: "CafeParisC";
    padding: 10px;
    background-color: #d1dffb;
    color: #4204b2;
    font-size: 0.4em;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.submit:hover{
    background-color: #4204b2;
    color: #d1dffb;
}